/* =============
    reset
================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* =============
    debug
================ */
.debug header {
  background-color: #add8e6;
}
.debug .header-row {
  background-color: #daa520;
}
.debug .hero {
  background-color: #00008b;
}
.debug .container > * {
  border: 2px dashed black;
}
.debug .hero-content {
  height: 400px;
  width: 900px;
  background-color: #ee82ee;
}
.debug .row {
  height: 500px;
}
.debug .col-big {
  background-color: #1e90ff;
}

.debug .col-small {
  background-color: #ffc0cb;
}
/* =============
    common
================ */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* =============
    header
================ */
header {
  padding: 15px 0;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-row ul li {
  list-style: none;
  display: inline;
}
/* hero */
section.hero {
  padding: 15px 0;
}
.hero-content {
  margin: 0 auto;
}
/* =============
    main
================ */
.row {
  display: flex;
  padding: 55px 0;
}

.col-big {
  width: 60%;
}

.col-small {
  width: 40%;
}

main section:nth-child(even) {
  background-color: #d3d3d3;
}

/* =============
    footer
================ */
